.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin:0 20px;
}

.pagination{
    margin: 10px 0;
    width: 100%;
}
.pagination button{
    margin-right: 10px;
    padding: 5px 10px;
}
select{
    padding: 5px;
}

.pagination .selected{
    background-color: rgb(60, 60, 243);
    font-weight: bold;
    color: white;
    border: .5px solid rgb(49, 49, 197);
}

@media screen and (max-width:720px) {
    .products-container{
        grid-template-columns: 1fr;
    }
    
}
.order-container{
    text-align: center;
    background-color: rgb(245, 208, 139);
}