.header{
    background-color: #1C2B35;
    height: 65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-left:40px ;
}
.header a:hover{
    color: yellow;
}
.user{
    color: white;
    margin-left: 10px;
}

.logout{
    margin-left: 10px;
    background-color: #1C2B35;
    color: white;
    font-size: 16px;
}